<h3>Agile</h3>
<ul>
  <% if User.current.allowed_to?(:view_agile_queries, @project) %>
  <li><%= link_to "Project Board", {:controller => "agile_boards", :action => "index", :project_id => @project} %></li>
  <% end %>

  <% if User.current.allowed_to?(:manage_agile_verions, @project) %>
  <li><%= link_to l(:label_agile_version_planning), {:controller => "agile_versions", :action => "index", :project_id => @project} %></li>
  <% end %>
</ul>
